month_5/lesson_07/7-dars\(2-oy\)\ \[Autosaved\].pptx
month_5/lesson_07/analysis.ipynb

month_5/lesson_08/multioutput.ipynb
month_5/lesson_08/8-dars(2-oy).pptx

month_5/lesson_09/9-dars(2-oy).pptx
month_5/lesson_09/ensemble.ipynb