month_5/lesson_07/7-dars\(2-oy\)\ \[Autosaved\].pptx
month_5/lesson_07/analysis.ipynb

month_5/lesson_08/multioutput.ipynb
month_5/lesson_08/8-dars(2-oy).pptx

month_5/lesson_09/9-dars(2-oy).pptx
month_5/lesson_09/ensemble.ipynb

month_5/lesson_10/10-dars(2-oy).pptx
month_5/lesson_10/ensemble.ipynb

month_5/lesson_11/11-dars(2-oy).pptx
month_5/lesson_11/ensemble(voting+stacking+bagging).ipynb

month_6/lesson_01/1-dars(3-oy).pptx
month_6/lesson_01/ensemble(voting+stacking+bagging+boosting).ipynb
